.single-photo-container{
    overflow:hidden;
    box-shadow: var(--container-shadow);
    display: flex;
}

.photo {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

.photo:hover {
    scale: 1.2;
    transition: ease-in-out 0.3s;
}

/* Tablet Sizing */
@media screen and (max-width: 1024px) {
    .photo {
        height: 12rem;
        /* width: 100%; */
    }
}

/* Phone Sizing */
@media screen and (max-width: 576px) {
    .single-photo-container{
        margin: 0rem 0.5rem 0.5rem 0.5rem;
    }

    .photo {
        height: 15rem;
        /* width: 40rem; */
    }
}