#about-page-title{
    text-align: center;
    padding: 3rem 0rem;
    font-weight: 700;
    font-size: 3rem;
}
.about-page-sections{
    display:flex;
    height: 80%;
}

.about-page-photos{
    height: 30rem;
    object-fit:cover;
}

#intro-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    background-color: var(--primary-color);
    color: var(--secondary-color)
}

#intro-content-container p {
    width: 90%;
    font-size: 1.3rem;
    text-align: center;
    padding-bottom: 1rem;
}

#intro-content-container a {
    text-decoration: none;
}

#intro-content-container button {
    padding: 1rem;
}

#staff-photo{
    /* height:30rem; */
    width: 55%;
}

#core-values-image{
    width: 30%;
}

#core-values-section{
    display: flex;
    flex-direction: row-reverse;
}

#core-values-container{
    width: 70%;
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2rem;
    /* grid-column-gap: 2rem; */
    justify-items: center;
    align-items: center;
}

#service-area-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#service-area-header h4 {
    text-align: center;
    font-size: 3rem;
    padding: 0rem 0.5rem;
}

#service-area-header hr {
    width: 100%;
    border: solid var(--tertiary-color) 3px;
}

#service-areas{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

#service-area-container button {
    padding: 1rem;
}

#google-map{
    width: 80%
}

/* Tablet Sizing */
@media (max-width: 1024px) {
    #intro-content-container{
        width: 35%;
    }
    
    #intro-content-container p {
        font-size: 0.9rem;
        width: 85%;
        padding-bottom: 1rem;
        font-weight: 500;
    }
    
    #intro-content-container button {
        padding: 1rem;
    }

    #staff-photo{
        width: 65%;
    } 

    #core-values-image{
        width: 40%;
    }
    
    #core-values-container{
        width: 60%;
        grid-row-gap: 0rem;
    }

    #service-area-container{
        width: 50%;
    }

    #service-areas p{
        text-align: center;
        font-weight: 500;
    }

    #service-area-container button {
        font-size: 1.1rem;
    }

    #google-map{
        width: 50%
    }
}

/* Phone Sizing */
@media screen and (max-width: 576px) {
    #about-page-title{
        padding: 1rem 1rem;
        font-size: 2rem;
    }

    #intro-section {
        flex-direction: column;
    }

    #intro-content-container{
        width: 100%;
        padding: 1rem 0rem 0rem;
    }

    #intro-content-container a {
        width: 100%;
    }
    #intro-content-container button {
        margin-bottom:0rem;
        font-size: 1.5rem;
        width:100%;
        padding: 1rem 0rem;
    }

    #staff-photo{
        width: 100%;
    } 
    
    #core-values-section{
        flex-direction: column;
    }

    #core-values-image{
        width: 100%;
    }
    
    #core-values-container{
        width: 100%;
        padding: 1rem 0rem;
        grid-row-gap: 2rem;
    }

    #core-values-image{
        height: 18rem;
    }

    #about-map-container{
        flex-direction: column;
    }

    #service-area-container{
        width: 100%;
    }

    #service-area-header h4 {
        font-size: 2rem;
        padding: 0.5rem 0rem 0rem;
    }
    
    #service-area-header hr {
        width: 100%;
        border: solid var(--tertiary-color) 3px;
    }

    #service-areas p{
        font-size: 1.2rem;
    }

    #service-area-container a {
        width: 100%
    }

    #service-area-container button {
        font-size: 1.5rem;
        width:100%;
        padding: 1rem 0rem;
        /* text-align: center; */
    }

    #google-map{
        width: 100%
    }
}