.btn {
    all: unset;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.secondary-btn {
    all: unset;
    background-color: var(--primary-color);
    border: 2px solid var(--tertiary-color);
    color: var(--tertiary-color);
}

.btn:hover {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    scale: 1.1;
}

.page-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.header-line{
    width: 8rem;
    border: solid red 3px;
}