.btn {
    all: unset;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

/* .secondary-btn {
    all: unset;
    background-color: var(--primary-color);
    border: 2px solid var(--tertiary-color);
    color: var(--tertiary-color);
    text-align: center;
} */

.btn:hover {
    background-color: var(--tertiary-color);
    border: 2px solid var(--tertiary-color);
    box-shadow: 0px 1px 25px var(--secondary-color);
    color: var(--secondary-color);
    scale: 1.1;
    transition: 0.3s ease-in-out;
}

.btn-over-white:hover {
    box-shadow: 0px 1px 25px var(--tertiary-color);
}

.pages{
    padding-top: 6rem;
}

.page-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5rem;
}

.page-title{
    margin: 1rem 0rem;
    font-size: 4rem;
    color: var(--primary-color);
    text-shadow: 0 0 1px var(--tertiary-color);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.header-line {
    width: 8rem;
    border: solid red 4px;
    margin: 0.5rem 0rem;
}

.service-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.read-more-links {
    text-decoration: none;
    color: var(--accent-color);
}

.nav-active {
    background-color: rgba(16, 15, 15, 0.311);
    height: 100%;
    width: 100%;
}

/* Tablet Sizing */
@media (max-width: 1024px) {
    .pages{
        padding-top: 10rem;
    }
}

/* Phone Sizing */
@media screen and (max-width: 576px) {
    .pages{
        padding-top: 6rem;
    }
}