#services-container{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.services-preview{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0rem 1rem;
}

.homepage-service-preview{
    flex-direction: column;
}

.service-container {
    background-color: var(--primary-color);
    width: 15rem;
    height: 25rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
}

.service-container-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 33%;
    max-height: 33%;
    /* background-color: blanchedalmond; */
}

.service-icon{
    font-size: 5rem;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.service-container hr {
    border: 4px solid var(--accent-color);
    width: 6rem;
}

.service-container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 65%;
    max-height: 65%;
    /* background-color: red; */
    padding-top: 1.5rem;
    position: relative;
}

.service-title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.service-description{
    text-align: center;
}

.service-link{
    text-decoration: none;
    text-align: center;
    position: absolute;
    bottom: 5%;
    left:0;
    /* background-color: blueviolet; */
    width: 100%;
    color: var(--accent-color);
    font-weight: 500;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.service-link:hover{
    scale:1.2;
    color: var(--tertiary-color);
}

/* Tablet Sizing */
@media screen and (max-width: 1024px) {
    .service-container {
        width: 20rem;
        /* height: 25rem; */
        /* margin: 2rem; */
    }  
}

/* Phone Sizing */
@media screen and (max-width: 576px) {
    #services-container {
        /* width: 100%; */
        /* background-color: red; */
    }

    .service-container {
        /* width: 100%; */
        /* background-color: red; */
    }
}