:root {
    --info-spacing: 0.5rem;
}
.card {
    width: 25rem;
    margin-bottom: 2rem;
    box-shadow: var(--container-shadow);
    color: var(--primary-color);
}

.blog-info-header{
    display: flex;
    color: grey;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.blog-author{
    margin-right: var(--info-spacing);
}

.blog-date {
    margin-left: var(--info-spacing);
}

.card-title{
    font-size: 2rem;
}

.read-more-links {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.read-more-links:hover {
    color: var(--tertiary-color);
}

/* Tablet Sizing */
@media (max-width: 1024px) {
    .card {
        width: 22rem;
        margin-bottom: 2rem;
        box-shadow: var(--container-shadow);
        color: var(--primary-color);
    }
}

/* Phone Sizing */
@media screen and (max-width: 576px) {

}