/* #gallery-page{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

#photo-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0rem 5rem 5rem;
}

/* Tablet Sizing */
@media screen and (max-width: 1024px) {
    #photo-container {
        display: grid;
        margin: 1rem 2rem 4rem;
    }
}

/* Phone Sizing */
@media screen and (max-width: 576px) {
    #photo-container {
        grid-template-columns: 1fr;
        grid-row-gap: 0rem;
        grid-column-gap: 0rem;
        margin: 0rem 0rem 0rem;
    }
}