#service-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#service-btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#services-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.service-btn {
    background-color: var(--secondary-color);
	border: var(--primary-color) solid 3px;
	padding: 0.5rem;
    margin: 0rem 0.5rem;
	color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
	cursor: pointer;
    font-weight: 500;
}

.service-btn-selected {
    background-color: var(--tertiary-color);
}

.service-btn:hover{
    box-shadow: 0px 1px 25px var(--tertiary-color);
}

/* Phone Sizing */
@media screen and (max-width: 576px) {
    .service-btn{
        margin: 0.5rem 0.5rem;    
    }
}