.footer-container{
    width: 100%;
    display:flex;
    justify-content: space-between;
    border-top: solid var(--tertiary-color) 5px;
    padding: 1rem 0rem;
}

.footer-links:hover {
    color: var(--tertiary-color);
    transition: 0.3 ease-in-out;
}

.left-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 1rem;
}

.footer-logo{
    height: 6rem;
    width: 13rem;
    /* padding-bottom: 1rem; */
}

.social-media-container{
    width: 20rem;
    display: flex;
    justify-content: space-around;
    color: var(--primary-color);
}

.social-media-container a {
    text-decoration: none;
    color: var(--primary-color);
}

.social-media-icons{
    font-size: 1.7rem;
    margin: 0.5rem;
}

.social-media-icons:hover{
    scale: 1.2;
}

.left-section p {
    color:var(--tertiary-color);
    letter-spacing: 0.4rem;
    font-weight: 500;
}

.middle-section{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.footer-images{
    height: 4rem;
    width: 9rem;
    margin: 0.2rem;
    margin: 2rem 
}

.har-com{
    width: 5rem;
}

.right-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:var(--primary-color);
    margin: 0rem 1rem;
}

.footer-contact-header {
    display: flex;
    flex-direction: column;
}

.footer-contact-header h3 {
    display: flex;
    align-self: center;
    margin: 0.5rem 0rem 0rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer-contact-header hr {
    margin: 0rem 4rem 0.5rem;
    border: var(--primary-color) solid 3px;
}

.footer-icons{
    height: 2rem;
    margin-right: 0.7rem;
    scale: 1.5;
    display: flex;
    align-items: center;
}

.address-container{
    display: flex;
    align-items: center;
}

.address-container p {
    margin: 0;
}

.phone-number-container{
    display: flex;
    /* align-items: center; */
    margin-top: 1rem;
}

.phone-number-container a {
    text-decoration: none;
    color: var(--primary-color);
}

.email-container{
    display: flex;
    align-items: center;
}

.email-container a {
    text-decoration: none;
    color: var(--primary-color);
}

/* Tablet Sizing */
@media (max-width: 1024px) {
    .footer-container{
        padding: 1rem 0rem;
    }
    
    .social-media-container{
        justify-content: center;
        width: 10rem;
        margin-bottom: 1rem;
    }
    
    .social-media-icons{
        font-size: 1.8rem;
        margin: 0rem 1.5rem;
    }
    
    .left-section p {
        letter-spacing: 0.3rem;
        font-weight: 700;
    }

    .footer-images{
        height: 2.5rem;
        width: 4.5rem;
        margin: 0.5rem 
    }
    
    .har-com{
        width: 3rem;
    }

    .footer-contact-header hr {
        margin: 0.5rem 4rem;
        border: var(--primary-color) solid 3px;
    }

    .footer-icons{
        height: 2rem;
        margin-right: 0.5rem;
        scale: 1.3;
    }
}

/* Phone Sizing */
@media screen and (max-width: 576px) {
    .footer-container{
        flex-direction: column;
    }

    .footer-section{
        padding: 1.5rem 0rem;

        /* New styling to make the photo work */
        padding: 0.5rem 0rem;
    }

    .left-section{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: 1;
        margin-bottom: 1.5rem;
    }

    .footer-logo{
        margin-top: 1rem;
        height: 8rem;
        margin-bottom: 0.5rem;
        width: 18rem;
    }

    .social-media-container{
        justify-content: space-evenly;
        width: 90%
    }

    .social-media-icons{
        font-size: 2rem;
        font-weight: 900;
        margin: 0rem 0rem;
    }

    .left-section p {
        letter-spacing: 0.5rem;
    }

    .right-section{
        width: 100%;
        align-items: center;
        color:var(--secondary-color);
        background-color: var(--primary-color);
        margin: 0rem;
        padding: 3rem 0rem;
        order: 2
    }

    .footer-contact-header h3 {
        font-size: 2.5rem;
        margin-bottom: 0.1rem;
    }

    .footer-contact-header hr{
        border: solid red 3px;
        width:90%;
        margin:auto;
    }

    .footer-icons{
        height: 2rem;
        margin-right: 1rem;
        /* scale: 1.5; */
        /* display: flex; */
        /* align-items: center; */
        /* color: var(--tertiary-color) */
    }

    .address-container{
        margin-top: 1rem;
    }

    .middle-section{
        order:3;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* align-items: center; */
        margin: 2rem 0rem;
        padding: 0rem;
    }

    .footer-images{
        height: 3rem;
        width: 4rem;
        padding: 0rem;
        margin: 0rem;
    }

    .phone-number-container a {
        color: var(--secondary-color);
    }

    .email-container a {
        color: var(--secondary-color);
    }
}