.single-news-container{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    border-bottom: var(--primary-color) solid 3px;
    padding: 1rem 0rem;
}

.news-image{
    box-shadow: var(--container-shadow);
}

.new-info-container{
    padding: 0rem 2rem;
}

.news-link{
    color: var(--primary-color);
}