.navbar {
    background-color: var(--primary-color);
    padding: 1rem;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#company-logo {
    height: 4rem;
    width: 4rem;
}

#navbar-content {
    display: flex;
    flex-direction: column-reverse;
}

.navbar-content-section{
    display: flex;
}

.nav-links{
    text-decoration: none;
}
.nav-elements{
    color:var(--secondary-color);
    /* margin: 0.5rem; */
}

.dropdown-menu{
    background-color: var(--secondary-color);
}
.dropdown-item {
    color: var(--accent-color);
}

#nav-request-service-btn{
    all: unset;
    background-color: var(--primary-color);
    border: 2px solid var(--tertiary-color);
    color: var(--tertiary-color);
}