.navbar {
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    padding:0;
    background: rgb(255,255,255);
    background: linear-gradient(50deg, rgba(255,255,255,1) 0%, rgba(23,48,104,1) 62%);
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

#company-logo {
    height: 6rem;
    width: 14rem;
}

.navbar-content {
    display: flex;
    flex-direction: column-reverse;
}

.navbar-content-section{
    display: flex;
}

.nav-links{
    text-decoration: none;
}
.nav-elements{
    color:var(--secondary-color);
    margin-right: 1rem;
}

.nav-elements:hover{
    color:var(--accent-color);
}


.dropdown-toggle.nav-elements.nav-links{
    margin-right: 0rem;
}

.dropdown-menu{
    background-color: var(--secondary-color);
    box-shadow: var(--container-shadow);
}
.dropdown-item {
    color: var(--accent-color);
}

.dropdown-item:hover {
    color: var(--tertiary-color);
    scale: 1.0;
    /* background-color: var(--primary-color); */
}

#nav-contact-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0.5rem;
}

#nav-phone-number {
    display: flex;
    align-items: center;
}

#nav-phone-number .fa-phone {
    font-size: 1.3rem;
    padding-right: 0.3rem;
    align-self: end;
}

#nav-phone-number a{
    color: var(--secondary-color);
}

#nav-phone-number a:hover {
    color: var(--accent-color);
}

#nav-request-service-btn{
    padding: 0.3rem 1.5rem;
}

#nav-contact-section a {
    text-decoration: none;
}

.hamburger-menu{
    display: none;
}

/* Tablet Sizing */
@media (max-width: 1024px) {
    .navbar {
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(23,48,104,1) 100%);
        padding: 1rem 1.5rem;
    }

    #company-logo {
        height: 7rem;
        width: 15rem;
    }

    .hamburger-menu{
        display: flex;
        /* padding-top: 10px; */
        /* margin-left: 10px; */
        z-index: 10;
    }

    #mobile-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-content.open-false{
        display:none;
    }

    .navbar-content{
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
    }

    .navbar-content-section{
        flex-direction: column;
        width: 100%;
        /* margin-top: 2rem; */
        /* background-color: var(--secondary-color); */
    }

    .nav-elements{
        /* background-color: red; */
        width: 100%;
        font-size: 2rem;
        padding-bottom: 2rem;
        /* text-align: center; */
        display:flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.2rem;
    }

    .dropdown {
        padding-bottom: 0rem;
    }

    .dropdown-menu {
        width:100%;
    }

    /* #nav-phone-number {
        display: flex;
        align-items: center;
        justify-content: center;
    } */

    #nav-phone-number .fa-phone {
        /* display: flex;
        align-items: center; */
        scale: 1.5;
    }

    #nav-request-service-btn{
        height: 4rem;
        width: 14rem;
        font-size: 1.5rem;
    }
}

/* Phone Sizing */
@media screen and (max-width: 576px) {
    .navbar {
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(23,48,104,1) 100%);
        padding: 0.2rem 0.5rem;
    }

    #company-logo {
        height: 4.5rem;
        width: 8rem;
    }
}