#blog-container {
    width: 100%;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

/* Tablet Sizing */
@media (max-width: 1024px) {

}

/* Phone Sizing */
@media screen and (max-width: 576px) {

}